@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-gradient-from: white; /* your desired top color */
  --gradient-to: #45ABF1; /* your desired bottom color */
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

 
body {
  color: white;
  background: #01080F;
 
 
 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
